body {
  background: #023047;
  margin: 20px;
  font: 32px 'Roboto', open-sans;
  color: white;
}

.game {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.board {
  background: #e9c46a;
  margin: 10px;
  padding: 20px;
}

.square {
  background: #2a9d8f;
  padding: 0px;
  border: 1px solid #f1faee;
  font-size: 80px;
  color: #f1faee;
  text-align: center;
  width: 100px;
  height: 100px;
}

.square:hover{
  background: #e76f51;
  outline: none;
}

.board-row{
  display: flex;
  flex-wrap: nowrap;
}


